*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* inizio header */
header{
    background-color: #ADD8E6;
    padding: 1rem;
}
.conteiner{
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #DAA520;
}
.row{
display: flex;
flex-wrap: wrap;
justify-content: center;
}
[class^="col"]{
padding: 0.1rem;
}
.col-1{

    width: calc((100% / 4) *1);
    border: 2px solid;    

}
.col-2{
    width: calc((100% / 4) *2);
border: 2px solid;   
text-align: center; 

}
.col-3{
    width: calc((100% / 4) *1);
border: 2px solid;    
text-align: end;
}
/* fine header */

/* inizio main */
/*  inizio blue block */
.blue_block{
    background-color: #00008B;
 padding: 30px ;
}
.purple_block{
    background-color: #EE82EE;
    width: 650px;
    height: 325px;
    margin: 0 auto;
}
/*  fine blue block */


.conteiner_row{
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 0;
    background-color: white;
}
.information{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 300px;
}
.banner{
    width: calc((850px /5)*3);
    background-color:#1E90FF;



}
.description{
    width: calc((850px /5)*2);
    background-color:#FFC0CB;
 

}
section.grey{
    background-color: lightgrey;
    padding: 2rem 0;

}

.grey_conteiner_row{
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 0;

}
.green_row{
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
    height: 500px;
    background-color: #228B22;
}
.black{
    background-color: black;
    border-bottom: 2px solid white;

}
.black_conteiner{
    height: 400px;
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
flex-wrap: wrap;
justify-content: center;
padding-top: 0.5rem;
padding-bottom: 1.5rem;
 
}
.col-4{
    background-color: #F08080;
    width: calc((100% / 6) *2);
    border: 1px solid white;

}
.col-5{
    background-color: #20B2AA;
    width: calc((100% / 6) *1);
    border: 1px solid white;

}
.col-6{
    background-color: #20B2AA;
    width: calc((100% / 6) *1);
    border: 1px solid white;

}
.col-7{
    background-color: #20B2AA;
    width: calc((100% / 6) *1);
    border: 1px solid white;

}
.col-8{
    background-color: #20B2AA;
    width: calc((100% / 6) *1);
    border: 1px solid white;

}
footer{
    background-color: black;
}
.final_row{

padding-top: 1rem;

}
.final_information{
    display: flex;
    justify-content: space-between;
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
background-color: #7FFFD4;
padding: 10px 0;
}
.footer_information{
    background-color: #FFB6C1;
}